.bg{
  background: rgb(0, 25, 53) ;
  //#00bfff
  width:100%;
  height:86vh;
  background-size:100%;
}
.fcont{
  position:absolute;
  top:3vh;
  background:white;
  padding:30px;
  width:650px;
  height:550px;
  border-radius:10px;
  box-shadow:0px 0px 10px 0px gray;
}
